# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (frontend)
app/frontend/node_modules/
app/frontend/dist/

# Python (backend)
app/backend/__pycache__/
app/backend/*.pyc
app/backend/.env
